@font-face {
    font-family:Athene;
    src: url(../fonts/Athene.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin:0;
    background: #efe8d7;  
}

header {
    border-bottom: 1px solid #002a5a;
    font-weight: 300;
    z-index: 100;
}

header p {
    display:inline-block;
}

header p:first-of-type {
    padding-right: 80%;
    padding-left: 4%;
}

header p:nth-of-type(2) {
    padding-right: 4%;
}

#sticky-header {
position: fixed;
top:0;
width: 100%;
color: #002a5a;
}


.hero {
    text-align: center;
    padding: 7% 19% 9%;
    color: #002a5a;  
}

.hero h1, .hero h2 {
    margin: 0 auto 5rem;
    font-family:Athene;
    font-size: 10rem;
    font-weight: 300;
    border-bottom: 1px solid #002a5a;
}

figure {
    width: fit-content;
    margin: 0 auto;
}

figcaption {
text-transform: uppercase;
padding:1rem;
text-align: left;
}

.hero span:first-of-type {
    margin-left:-15px;
}

.hero span {
    font-family:Athene;
}

/* pinke seite */

.release {
    background: #F4C4C4;  
    color:#282b29; 
}

.smallH3-left {
    margin:0 auto;
    padding: 10rem 0 5rem 10rem;
    font-weight:300;
    font-size: 1rem;
}

.headings {
    font-family:Athene;
    font-size: 15rem;
    text-transform: uppercase;
    font-weight: 300;
    margin:0;
}

.release article {
    margin: 3rem 5rem 0 60%;
    line-height: 2rem;
}

.release p {
    letter-spacing: .3rem;
    padding-bottom: 5rem;
    
}

table {
    margin:0 auto;
}

table th {
text-align: right;
border-bottom: 1px solid black; 
text-transform: uppercase;
font-weight: 400;

}

td {
   border-bottom: 1px solid black;
   padding: 2rem 0; 
}

.table-right {
    text-align: right;
    font-size: .7rem;
    margin-left:85%;
    
}

.table-center {
    font-weight: 400;
    padding-right: 54%;
    padding-left:4%;
    font-size: 1.3rem;
}

.table-left {
    padding-right:4%;
    font-size: .5rem;
}

.release figure  {
    height:10rem;
    width:10rem;
    margin-left:80%;
    padding: 10% 0;
    /* margin-bottom:0; */
    margin: 0 0 0 auto;
}

/* gelbe seite  */

.works, .portfolio {
    color: #7d2222;
    background: #DEB873;
}

.works h3 {
    margin:0 auto;
    padding: 10rem 10rem 5rem 0 ;
    font-weight:300;
    font-size: 1rem;
    text-align: right;
}

.works .headings {
    text-align: right;
}

.works article {
    margin: 4% 65% 0 4%;
    line-height: 2rem;
    letter-spacing: .3rem;
    padding-bottom: 5rem;   
}

.portfolio {
font-family:Athene;
font-size: 7rem;
text-transform: uppercase;
padding-top:10rem;
}

.project-examples {
    position: relative;
    margin-top:10rem;
    padding-bottom:15vh;
}

.images {
    display: block;
}

.img-right {
    margin: 0 6rem 0 auto;
  
}

.img-left {
    margin: 0 auto 0 6rem;
}

.portfolio-headings {
    position: absolute;
    letter-spacing: .5rem;
}

#rodrigo h4 {
    margin-left: 10rem;
    margin-top:0;
    left: -6rem;
    
}

#kollwitz h4 {
    text-align: right;
    right: 5rem;
    top:-9rem;
}

#victor h4 {
    margin-top:1rem;
    left:4rem;
    top: -2rem;

}

#bored h4 {
    text-align: right;
    right: 5rem;
    bottom:11rem;
}


.contact {
    background: #D2D2D2;  
    color:#1d8883; 
}

.contact article {
    line-height: 2rem;
    margin:3rem 39%;
    font-size: 1rem;
    letter-spacing: .3rem;
    padding-bottom: 5rem;   
}

.contact ul {
    list-style: none;
    text-align: right;
    margin-bottom:0;
    padding-bottom:3rem;
    padding-right:5rem;
}

.contact li {
    line-height: 2rem;
}

a:hover {
    border-bottom: 1px solid #1d8883;
}

a {
    padding-bottom:2px;
    text-decoration: none;
    color:#1d8883;
}
