@font-face {
    font-family:Athene;
    src: url(https://befonts.com/);
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin:0;
}

header {
    border-bottom: 1px solid #002a5a;
    font-weight: 300;
    z-index: 100;
}
header p {
    display:inline-block;
}

header p:first-of-type {
    display:inline-block;
    padding-right: 80%;
    padding-left: 4rem;
}

#sticky-header {
position: fixed;
top:0;
width: 100%;
color: #002a5a;
}


.hero {
    text-align: center;
    padding: 7% 19% 9%;
    background: #efe8d7;  
    color: #002a5a;  
}

.hero h1, .hero h2 {
    margin: 0 auto 5rem;
    font-family:Athene;
    font-size: 10rem;
    font-weight: 300;
    border-bottom: 1px solid #002a5a;
}


figure {
    width:100%;
}

figcaption {
width: 86%;
text-transform: uppercase;
padding:1rem;
}

.hero span:first-of-type {
    margin-left:-15px;

}

.hero span {
    font-family:Athene;
}

/* pinke seite */

.release {
    background: #F4C4C4;  
    color:#282b29; 
}

.release h3 {
    margin:0 auto;
    padding: 10rem 0 5rem 10rem;
    font-weight:300;
    font-size: 1rem;
}

.headings {
    font-family:Athene;
    font-size: 15rem;
    text-transform: uppercase;
    font-weight: 300;
    margin:0;
}

.release article {
    margin: 3rem 5rem 0 60%;
    line-height: 2rem;
}

.release p {
    letter-spacing: .3rem;
    padding-bottom: 5rem;
    
}

table {
    margin:0 auto;
}

table th {
text-align: right;
border-bottom: 1px solid black; 
text-transform: uppercase;
font-weight: 400;

}

td {
   border-bottom: 1px solid black;
   padding: 2rem 0; 
}

.table-right {
    text-align: right;
    font-size: .7rem;
    margin-left:85%;
    
}

.table-center {
    font-weight: 400;
    padding-right:20rem;
    padding-left:2rem;
    font-size: 1.3rem;
}

.table-left {
    padding-right:2rem;
    font-size: .5rem;
}

.release figure  {
    height:150px;
    width:150px;
    margin-left:80%;
    padding: 5rem 0;
    margin-bottom:0;
}

/* gelbe seite  */

.works, .portfolio {
    color: #7d2222;
    background: #DEB873;
}
.portfolio{
    height: auto;
}
.works h3 {
    margin:0 auto;
    padding: 10rem 10rem 5rem 0 ;
    font-weight:300;
    font-size: 1rem;
}

.works div{
    text-align: right;
}

.works article {
    margin: 3rem 65% 0 5rem ;
    line-height: 2rem;
}

.works p {
    letter-spacing: .3rem;
    padding-bottom: 5rem;   
    margin-bottom:0; 
}

.portfolio {
font-family:Athene;
font-size: 5rem;
text-transform: uppercase;
padding-top:10rem;
}

#rodrigo {
    position: relative;
}

#rodrigo img {
    margin: 0 6rem 0 auto;
    display: block;

}

#rodrigo h4 {
    margin-left: 10rem;
    margin-top:0;
    position: absolute;
    left: 18rem;
    width: 10rem;
    letter-spacing: .5rem;
}

#kollwitz {
    position: relative;
    margin-top:10rem;
}

#kollwitz img {
    margin: 0 auto 0 6rem;
    display: block;

}

#kollwitz h4 {
    text-align: right;
    position: absolute;
    right: 5rem;
    top:0;
    width: 36rem;
}

#victor {
    position: relative;
    margin-top:10rem;
}

#victor img {
    margin: 0 6rem 0 auto;
    display: block;

}

#victor h4 {
    margin-left: 10rem;
    margin-top:1rem;
    position: absolute;
   left:2rem;
    width: 47rem;
    letter-spacing: .5rem;
}

#bored {
    position: relative;
    margin-top:10rem;
    padding-bottom:20vh;
}

#bored img {
    margin: 0 auto 0 6rem;
    display: block;

}

#bored h4 {
    text-align: right;
    position: absolute;
    right: 5rem;
    top:0;
    width: 36rem;
}


.contact {
    background: #D2D2D2;  
    color:#1d8883; 
}

.contact h3 {
    margin:0 auto;
    padding: 10rem 0 5rem 10rem;
    font-weight:300;
    font-size: 1rem;
}

.contact article {
    line-height: 2rem;
    margin:3rem 39%;
    font-size: 1rem;
    letter-spacing: .3rem;
    padding-bottom: 5rem;   
}

.contact ul {
    list-style: none;
    text-align: right;
    margin-bottom:0;
    padding-bottom:3rem;
    padding-right:5rem;
}

.contact li {
    line-height: 2rem;
}

a:hover {
    border-bottom: 1px solid #1d8883;
}

a {
    padding-bottom:2px;
    text-decoration: none;
    color:#1d8883;
}
